<section id="header" class="my-md-5" style="background: url();">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
        <!-- Content -->
        <div class="container">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
                    <h1 class="h1-responsive font-weight-bold mt-sm-5 text-dark ">Bienvenido al mejor sitio de turismo </h1>
                    <hr class="hr-light">
                    <h6 class="mb-4 text-muted">La aventura, caminatas por las áreas protegidas y observación de fauna se colocan como las actividades favoritas de los visitantes, según la Asociación Costarricense de Operadores de Turismo (ACOT), entidad que agrupa a las agencia receptoras
                    </h6>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-6 col-xl-5 mt-xl-5 wow fadeInRight" data-wow-delay="0.3s">
                    <img src="https://www.larepublica.net/storage/images/2019/08/16/20190816074648.turismo.jpg" alt="" class="img-fluid">
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
</section>